<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'crm/css/main_page.css' %}">
    <link rel="stylesheet" href="{% static 'crm/css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'crm/css/create_order.css' %}">
    <link rel="stylesheet" href="{% static 'crm/css/header_panel.css' %}">
    <title>Создание заявки</title>
</head>
<body>
<div class="wrapper">
    {% include 'crm/navigation.html' %}
    <section class="add-order-modal">
        <div class="add-order-window">
            <div class="order-window__inner">
                <h1>Создание сделки</h1>
                <form id="create-order-form" action="" method="post" class="order-form-section">
                        {% csrf_token %}
                        {{ form }}
                    <div class="btn-section">
                        <button id="create-order-modal-btn" type="submit" class="add-order-button">
                            Сохранить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>