{% load static %}
<div class="meta-data">
    <div class="container">
        <div class="header-section">
            <div class="header-ui">
                <div id="send-mail-trigger-modal" class="send-mail">
                    <div class="mail-img-wrap">
                        <img class="mail-img" src="{% static 'media/crm/mail.svg' %}" alt="mail">
                    </div>
                    <span class="mail-text">Написать</span>
                </div>
            </div>
        </div>
    </div>
</div>
